<h1>Welcome to Fantasy Football!</h1>

<% counter = 0 %>
<% @leagues.each do |league| %>
  <% counter += 1 %>
  <h3><%= "#{counter}." %> <%= link_to league.league_name, league_path(league) %> <%= league.available_spots %></h3>
<% end %>
