
<div id="new-user-bg">
  <div id='new-user-container' class="ui raised very padded text container segment">
    <h1 align="center"class="ui header">Create a League!</h1>
    <%= form_for @league, class: "ui fluid form" do |f| %>
      <div class="ui divider"></div>
      <div class="inline field">
        <h3><%= f.label :league_name %></h3>
        <%= f.text_field :league_name %>
      </div>
      <button class="ui primary button">
        Create League
      </button>
    <% end %>
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <div class="ui left pointing red basic label">
          <%= error %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
