<h1>Welcome to <%= @league.league_name %>!</h1>

<h2>TEAMS</h2>
<% @league.teams.each do |team| %>
  <h3><%= link_to team.team_name, team_path(team) %></h3>
<% end %>

<h2><%= link_to "Click here to see matchups", matchups_path %></h2>
