<!DOCTYPE html>
<html>
  <div id="new-user-bg">
    <div id='new-user-container' class="ui raised very padded text container segment">
      <h1 align="center"class="ui header">Welcome to <%= @league.league_name %></h1>
      <div id="league-teams">
        <% @league.teams.each do |team| %>
          <h2><%= link_to team.team_name, team_path(team) %></h2>
        <% end %>
      </div>
      <button class="massive ui button">
        <%= link_to "GENERATE AWESOMNESS", matchups_path(@league) %>
      </button>
  </div>
</html>
