<div id="user-bg">
<div id='team-container' class="ui raised very padded text container segment">
  <h1 id="title-color-league" align="center"class="ui header">User <%= @user.username %></h1>
  <div id="league-teams">
    <h1 id="h1-color">Leagues</h1><br>
<% if @user.leagues == [] %>
    <h2>YOU BELONG TO NO LEAGUES!</h2>
<% else %>
  <% @user.leagues.uniq.each do |league| %>
    <h2><%= link_to league.league_name, league_path(league) %></h2>
  <% end %>
<% end %>
<h2 align="right"><%= link_to "Click here to join another league!", new_team_to_league_path %></h2>
</div>
</div>
