// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-team-container {
  background-color: #ffffffe8;
}

#new-team-bg {
  background-image: url("https://cdn-s3.si.com/styles/marquee_large_2x/s3/images/danny-trevathan-nfl-targeting-rule.jpg?itok=ANpiS3eY");
  background-size:100%;
  background-repeat: no-repeat;
  height: 96.5vh;
  overflow-x: scroll;
}
